.tituloPrincipalNoticias{
    font-family: klavikaBold;
    color: #28446B;
    font-size: 32pt;
    text-align: center;
}

.tituloPrincipalNoticias span{
    font-family: klavikalight; 
    color: #28446B; 
}

hr.azul{
    color: #43ABCC;
    height: 3pt;      
    opacity: 1;
}
hr.azul.pt1{
    height: 1pt;      
}

.titularNoticia{    
    display: block;
    margin-top: 0px;
    color: #43ABCC;
    font-family: MuseoSans700;
}

.titularNoticia.mt-1em{
    margin-top: 1em;    
}

.titularNoticia a{
    text-decoration: none;
    color: #43ABCC;
    font-family: MuseoSans700;    
}

.titularNoticia span{
    float: right;
}

.descripcionNoticia{
    font-family: klavikaregular; 
    color: #28446B;     
    text-align: justify;
}