@font-face {
    font-family: KlavikaBold;
    font-weight: bold;
    src: url("./assets/fuentes/KlavikaBold-Bold.otf") format("opentype");
}

@font-face {
    font-family: klavikalight;
    src: url("./assets/fuentes/klavikalight-plain.otf") format("opentype");
}

@font-face {
    font-family: klavikamedium;
    src: url("./assets/fuentes/klavikamedium-tf.otf") format("opentype");
}

@font-face {
    font-family: klavikaregular;
    src: url("./assets/fuentes/klavikaregular-tf.otf") format("opentype");
}

@font-face {
    font-family: MuseoSans900;
    src: url("./assets/fuentes/MuseoSans_900.otf") format("opentype");
}

@font-face {
    font-family: MuseoSans700;
    src: url("./assets/fuentes/MuseoSans_700.otf") format("opentype");
}

@font-face {
    font-family: MuseoSans300;
    src: url("./assets/fuentes/MuseoSans-300.otf") format("opentype");
}

*{
    font-family: klavikaregular;
}

.float-right{
    float: right;
}

.rowAlineadoCenter{
    display: flex;
    align-items: center;
} 

.w-100{
    width: 100%;
}

.ml-1em{
    margin-left: 1em;
}
.mr-1em{
    margin-right: 1em;
}
.mt-1em{
    margin-top:1em;
}
.mb-1em{
    margin-bottom:1em;
}

.pl-1em{
    padding-left: 1em;
}
.pr-1em{
    padding-right: 1em;
}
.pt-1em{
    padding-top:1em;
}
.pb-1em{
    padding-bottom:1em;
}