.menuItem{
    font-family: klavikamedium;
    width: 217px;
    line-height: 1.5em;
    margin: 0 2px;
}

.menuItem > a{
    font-family: klavikamedium; 
    font-size: 17pt;
    height: 60px;    
    background-color: #28446B;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    padding: 10px ;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}

.menuItem:hover > a,.menuItem > a.active {
    background-color: #EDDB3A;
    color: #28446B;
}