.contenedorBloque{
    background: #FFFFFF;
    padding: 0px 40px 40px 40px;
    min-height: 400px;
    border-radius: 10px 10px 10px 10px;  
    
}

.contenedorBloque.pt-40{
    padding-top: 40px;
}

.contenedorBloque.bordeAzulCielo{
    border:#43ABCC solid 1px;    
}

.contenedorBloque.bordeAzul{
    border: #28446B solid 1px;    
}

.contenedorBloque.sombra{
    -webkit-box-shadow: 6px 6px 0px 0px rgba(40,68,107,0.3); 
    box-shadow: 6px 6px 0px 0px rgba(40,68,107,0.3);  
}