@media (max-width: 2600px ) {
    #logoCuentanosFooter{
       height: 105px; 
    } 
    #logoSaludataFooter{
        height: 80px;         
    }           
}

@media (max-width: 1600px ) {
    #logoCuentanosFooter{
        height: 80px; 
    } 
    #logoSaludataFooter{
        height: 60px;         
    }                   
} 


@media (max-width: 1440px ) {
    #logoCuentanosFooter{
        height: 70px; 
    }   
    #logoSaludataFooter{
        height: 50px;         
    }                  
} 


.contenedorAmbientesDigitales{
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
}